CREATE TABLE [dbo].[DataObjectType](
	[_Id] [smallint] IDENTITY(1,1) NOT NULL,
	[TypeName] [varchar](255) NULL,
	[TableName] [varchar](255) NULL,
 CONSTRAINT [PK_ObjectType] PRIMARY KEY CLUSTERED 
(
	[_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]