<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="DataManagerSettings" type="DataRelational.DataManagerSettings, DataRelational"/>
  </configSections>
  
  <DataManagerSettings>
    <Logging information="true" debug="true" warning="true" exception="true"/>
    <ConnectionStrings>
      <add name="DataRelational" connection="Data Source=BRANDON-PC\SQLEXPRESS;Initial Catalog=DataRelational;Integrated Security=True;" type="SqlServer"/>
    </ConnectionStrings>
  </DataManagerSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
